
.bmi-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.div{
    text-align: center;
}



.table{
    display: block;
    padding: 20px;
   
    
}

.table-title{
    margin-bottom: 20px;
}

.calc-text{
    margin: 10px;
}

.input-btn{
    width: 150px;
    gap: 10px;
    padding: 16px 30px;
    border-radius: 42px;
    background-color: rgba(230, 83, 60, 1);
    color:rgba(255, 255, 255, 1) ;
    font-weight: 700;
    font-size: 0.8rem; 
}


table{
    border-collapse: collapse;
    
}

td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding:  10px ;
    text-align: start;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.80rem;
    
}
td{
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}


    

.clac-section input{
    border-radius: 8px;
    padding: 13px 10px 13px 10px;
    background-color: rgba(255, 255, 255, 0.1);

}
.calc-sec{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   background-color: rgba(34, 34, 34, 1);
   align-items: center;
   justify-items: center;
}
.calculator{
    margin-right: 100px;
}


.height{
    grid-area: height;
}
.weight{
    grid-area: weight;
}
.age{
    grid-area: age;
}
.select{
    grid-area: select;
}
.clac-section{
    display: grid;
   grid-template-areas:
   "height weight  "
   "age  sex "
   "select select " ;
   gap: 10px;
   
  
}
input {
    width: ;
    
    box-sizing: border-box;
}
@media screen and (max-width:576px) {
    .calc-sec{
        
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
        width: 100%;
     }
     .calculator{
       overflow: hidden;
        padding: 10px;
      
     }
     input {
        width: 100%;
        
        box-sizing: border-box;
    }
}



