@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#font-family{
    font-family: 'Miama', sans-serif;
                                                
} 

/* common styles */
.bg-linear {
    background-image: linear-gradient(to bottom, #111111, #282828, #414141, #5b5b5b, #777777);
}


/* nav-styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

.brand-name {
    font-weight: 900;
    font-size: 2.25rem;
    color: rgba(230, 83, 60, 1);
    margin: 0px 0px 0px 30px;


}

#links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px 4px;
    border-radius: 39px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 47px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #ffff;
    transition: 0.2s;
}

.nav-links a:hover {
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;

}

.toggle-btn {
    display: none;

}
/* banner */

.banner-container{
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin-top: 30px;
}
.banner-title{
    font-weight: 900;
    font-size: 4.875rem;
    color: white;
    margin: 0px;
    padding: 20px;
    max-width: 1440px;
}
.btn_container{
    display: flex;
    gap: 10px;
    margin: 15px;
}
.btn_container button{
    width: 224px; 
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    color: #ffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}
.btn_container button:hover{
    background-color: rgba(230, 83, 60, 1);
}

.transparent-btn  {
    display: flex;
}
.btn_1{
    width: 206px;
    height: 96px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
   display: flex;
   align-items: center;
   backdrop-filter: blur(100px);
   justify-content: center;
   margin-top: -150px;
   margin-left: -110px;
   opacity: 0.8;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgba(230, 83, 60, 1);
}
.btn-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn_2{
    backdrop-filter: blur(100px);
    opacity: 0.8;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    margin-top: -400px;
   margin-right: -900px;
   
   
}
                                                

@media screen and (max-width: 576px) {
    .toggle-btn {
        display: block;
        padding: 20px;
    }

    #links {
        display: none;
    }

    .brand-name {
        margin-left: 20px;
    }
    .banner-container{
        flex-direction: column;
    }
    .img-section, .text-section{
        margin: 0 auto;
    }
}