@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#font-family {
    font-family: 'Miama', sans-serif;

}


/* common styles */
.bg-linear {
    background-image: linear-gradient(to top, #111111, #282828, #414141, #5b5b5b, #777777);

}




/* nav-styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.brand-name {
    font-weight: 900;
    font-size: 2.25rem;
    color: rgba(230, 83, 60, 1);
    margin: 0px 0px 0px 90px;


}

#links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px 4px;
    border-radius: 39px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 47px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #ffff;
    transition: 0.2s;
}

.nav-links a:hover {
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;

}

.toggle-btn {
    display: none;

}

/* banner */

.banner-container {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
}

.banner-title {
    font-weight: 900;
    font-size: 3.5rem;
    color: white;
    margin: 0px;
    padding: 20px;

}

.btn_container {
    display: flex;
    gap: 10px;
    margin: 15px;
}

.btn_container button {

    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    color: #ffff;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn_container button:hover {
    background-color: rgba(230, 83, 60, 1);
}

.transparent-btn {
    display: flex;

}

.btn_1 {
    width: 206px;
    height: 96px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    backdrop-filter: blur(100px);
    justify-content: center;
    margin-top: -150px;
    margin-left: -110px;
    opacity: 0.8;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(230, 83, 60);
}

.btn-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn_2 {
    backdrop-filter: blur(100px);
    opacity: 0.8;

    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    top: 20%;
    right: -1px;
    position: absolute;

}

.img-section {
    position: relative;

}

/* habits section */
.title-container {

    margin: 0 auto;
    text-align: center;
    padding: 20px;


}

.habits_title {
    font-weight: 900;
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);

}

.habits-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;


}

.card {
    margin: 0 auto;
    text-align: center;
    gap: 30px;
}

.card p {
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);

}

.card h2 {
    margin: 0;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 1);
}

.card img {
    border-radius: 50%;
    width: 180px;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

/* extra mile container */
.extra-mile {
    display: flex;
    justify-content: center;
    width: 1060px;
    background-color: rgba(34, 34, 34, 1);
    margin: 0 auto;
    gap: 50px;

}

.text-container {
    margin-left: 40px;
    margin-top: 30px;
}

.text-container button {
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
    color: #ffff;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;

}

.img-container {
    margin: 30px;
}

/* bmi calculetor */

.bmi-heading {
    display: flex;
    justify-content: center;
    align-items: center;

}

.div {
    text-align: center;
}



.table {
    display: block;
    padding: 20px;


}

.table-title {
    margin-bottom: 20px;
}

.calc-text {
    margin: 10px;
}

.input-btn {
    width: 150px;
    gap: 10px;
    padding: 16px 30px;
    border-radius: 42px;
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 0.8rem;
}


table {
    border-collapse: collapse;

}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    text-align: start;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.80rem;

}

td {
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}




.clac-section input {
    border-radius: 8px;
    padding: 13px 10px 13px 10px;
    background-color: rgba(255, 255, 255, 0.1);

}

.calc-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(34, 34, 34, 1);
    align-items: center;
    justify-items: center;
}

.calculator {
    margin-right: 100px;
}


.height {
    grid-area: height;
}

.weight {
    grid-area: weight;
}

.age {
    grid-area: age;
}

.select {
    grid-area: select;
}

.clac-section {
    display: grid;
    grid-template-areas:
        "height  weight  "
        "age  sex "
        "select select ";
    gap: 10px;

}




@media screen and (max-width: 576px) {
    .toggle-btn {
        display: block;
        padding: 20px;
    }

    #links {
        display: none;
    }

    .navbar {
        width: 100%;
    }


    .brand-name {
        margin-left: 30px;
    }

    .banner-container {
        flex-direction: column;
        width: auto;

    }

    .banner-title {
        padding: 10px;
    }

    .img-section,
    .text-section {
        margin: 0 auto;
    }

    .btn_1 {
        margin-left: 0px;
        margin-top: -350px;
    }

    .btn_2 {
        margin-top: -100px;
        margin-right: -2px;
        width: 165px;

    }

    .habits-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .extra-mile {
        flex-direction: column;
    }

    .extra-mile,
    .bg-linear {
        width: auto;
    }

    .img-container img {
        width: 100%;
    }

    .extra-mile {
        gap: 5px;
    }

    .btn-text-container {
        margin: 0 auto;
    }

    .calc-sec {

        grid-template-columns: repeat(1, 1fr);
        justify-items: start;

    }

    input {
        width: 100%;
        box-sizing: border-box;
    }
}